{
	"plugins": ["prettier-plugin-organize-imports"],
	"bracketSpacing": false,
	"endOfLine": "lf",
	"printWidth": 100,
	"quoteProps": "preserve",
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true
}
