@font-face {
	font-family: "ocarina";
	src: url("/fonts/icomoon/ocarina.eot?y2tkrz");
	src: url("/fonts/icomoon/ocarina.eot?y2tkrz#iefix") format("embedded-opentype"),
		url("/fonts/icomoon/ocarina.ttf?y2tkrz") format("truetype"),
		url("/fonts/icomoon/ocarina.woff?y2tkrz") format("woff"),
		url("/fonts/icomoon/ocarina.svg?y2tkrz#ocarina") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "ocarina" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-goron:before {
	content: "\e900";
}
.icon-kokiri:before {
	content: "\e901";
}
.icon-triforce:before {
	content: "\e902";
}
.icon-zora:before {
	content: "\e903";
}
